* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
}

.logo {
  display: block;
  margin: 50px auto 40px;
  width: 300px;
}

p {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.subtitle {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

section {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.line {
  display: inline-block;
  margin: 0 auto;
}

input {
  width: 200px;
  height: 40px;
  font-size: 20px;
  border-radius: 14px;
  background-color: #FFFFFF40;
  padding-left: 10px;
  cursor: pointer;
  outline-color: #d0f0fd;
  color: #ffffff95;
}

input:hover {
  background-color: #FFFFFF70;
}

input::placeholder {
  font-weight: 500;
  color: #ffffff95;
}

button {
  width: 250px;
  height: 45px;
  padding: 5px;
  border-radius: 10px;
  color: #000000;
  background-color: #AEC346;
  font-size: 26px;
  font-weight: 700;
  display: block;
  margin: 30px auto;
  cursor: pointer;
}

button:hover {
  opacity: .8;
}

button:active {
  opacity: .6;
}

#result {
  text-align: center;
  color: #000000;
  text-shadow:
  -1px -1px 0 #AEC346,
  1px -1px 0 #AEC346,
  -1px 1px 0 #AEC346,
  1px 1px 0 #AEC346;
  font-weight: 700;
  font-size: 40px;
  margin: 20px auto;
}

#loader {
  font-weight: bold;
  font-size: 18px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .logo{
    width: 200px;
    height: auto;
  }
  
  input {
    width: 150px;
    height: 40px;
    font-size: 14px;
    border-radius: 14px;
    background-color: #FFFFFF40;
    padding-left: 10px;
    cursor: pointer;
    outline-color: #d0f0fd;
    color: #ffffff95;
  }
}